body {
    text-align:center;
    background-color:#009900;
    padding:0px;
    font-family:courier;
}
img {
    width:500px;
    height:300px;
    border-color:#91274F;
    border-style:solid;
    border-width:10px;
    
}
h2 {
    border-color:#91274f;
    border-style:solid;
    width:200px;
}
ul {
    font-size:15px;
}
tr {
    text-align:center;
}

ol {
    text-align:center;
}
.list {
    margin-left:44%;
    margin-right:40%;
}
button {
    font-family:courier;
    border-color:#91274F;
    border-style:solid;
    border-width:3px
}

p {
    font-family:comicsansms;
    font-size:25px;
    text-align:center;
    position:relative;
    animation:colorchange 20s infinite;
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
    0% { color: red;}
    50% { color: blue;}
    100% { color: yellow;}
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: blue;}
    100% { color: yellow; }
    
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: blue;}
    100% { color: yellow; }
    
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: blue;}
    100% { color: yellow; }
}
@keyframes color-change {
    0% { color: red;}
    50% { color: blue;}
    100% { color: yellow;}
}
h4 {
    height:400px;
}